<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons *ngIf="utilisateur" slot="start">
      <ion-button>
        <ion-icon name="card-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="!utilisateur">
        Rejoignez-nous !
      </span>
      <span *ngIf="utilisateur" class="ecriture">
        <ng-container *ngIf="utilisateur.nom || utilisateur.prenom">
          {{utilisateur.nom}}
          {{utilisateur.prenom}}
        </ng-container>
        <ng-container *ngIf="!(utilisateur.nom || utilisateur.prenom)">
          @{{utilisateur ? utilisateur.pseudo: '...'}}
        </ng-container>
      </span>
    </ion-title>
    <ion-buttons *ngIf="utilisateur" slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="utilisateur" class="profil-container">
    <div class="entete">
      <div class="profil-photo-container">
        <div *ngIf="utilisateur" class="profil-photo shadow-or"
          [ngStyle]="{'background-image': 'url('+ utilisateur.photoURL + ')'}">

        </div>
      </div>
      <div class="profil-name-container" style="text-align: center; margin-top: 10px;">
        @{{utilisateur ? utilisateur.pseudo: '...'}}
      </div>
      <div class="profil-details-container">
        <div class="profil-details-container">
          <div class="profil-details">
            <span>
              <div class="chiffre">
                {{videos.length}}
              </div>
              <div class="libelle">
                Publications
              </div>
            </span>
            <span (click)="voirAbonnements()">
              <div class="chiffre">
                {{abonnements}}
              </div>
              <div class="libelle">
                Abonnements
              </div>
            </span>
            <span (click)="voirAbonnes()">
              <div class="chiffre">
                {{abonnes}}
              </div>
              <div class="libelle">
                Abonnés
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="profil-boutons-container" style="text-align: center;">
        <ion-button (click)="edit()" size="small" color="light">
          Modifier mon profil
        </ion-button>
      </div>
      <div class="profil-description" style="">
        <small *ngIf="utilisateur">
          {{utilisateur.description ? utilisateur.description.substring(0, 99): ''}}
        </small>
      </div>
    </div>
    <div class="contenu">
      <div class="profil-segment">
        <ion-segment (ionChange)="segmentChanged($event)" value="videocam">
          <ion-segment-button value="videocam">
            <ion-icon name="videocam-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="image">
            <ion-icon name="image-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="heart">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="basket">
            <ion-icon name="basket-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div *ngIf="segmentValue === 'videocam'" class="profil-videos">
        <div (click)="voirVideo(video)" *ngFor="let video of videos" class="khandaces-col" style="height: 120px; overflow: hidden;">
          <app-video [video]="video" [radius]="false" [montrerPseudo]="false"></app-video>
        </div>
      </div>

      <div *ngIf="segmentValue === 'image'" class="profil-videos">
        <div class="khandaces-col">
          <div style="height: 120px; background-size: cover; background-position: center center;"
            [ngStyle]="{'background-image': 'url('+ utilisateur.photoURL + ')'}">
          </div>
        </div>
      </div>

      <div *ngIf="segmentValue === 'heart'" class="profil-videos">
        <div *ngFor="let video of autresVideos; let i = index" class="khandaces-col">
          <ng-container>
            <app-video [video]="video" [radius]="false" [like]="true"></app-video>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="couverture-tab">

    </div>
  </div>
  <div *ngIf="!utilisateur">
    <div class="logo">

    </div>
    <div class="invitation">
      Pour accéder à cette page, vous devez vous connecter.
    </div>
    <div class="inscription">
      <ion-button (click)="connexion()" color="primary" size="small">
        Connexion
      </ion-button>
    </div>
    <div class="invitation" style="">
      Si vous ne disposez pas encore d'un compte. Inscrivez-vous ici
    </div>
    <div class="inscription">
      <ion-button (click)="inscription()" color="primary" size="small">
        Inscription
      </ion-button>
    </div>
  </div>

</ion-content>